.venv/
lambda-layer/
lambda-layer-output/
__pycache__/
*.pyc
fakenews/datasets/WELFake_Dataset.csv
fakenews/models/*.joblib
lambda-layer.zip
*.zip
*.csv
fakenews/models/*.joblib
fakenews/datasets/*.csv
*.zip